<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Table Info</title>
    </head>
    <body>
        <h2>Table Name: <span th:text="${tableName}"></span></h2>

        <h2>Columns:</h2>
        <ul>
            <li th:each="column : ${columns}" th:text="${column['COLUMN_NAME']}"></li>
        </ul>

        <h2>Data:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th th:each="column : ${columns}" th:text="${column['COLUMN_NAME']}">Column</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row : ${tableData}">
                    <td th:each="column : ${columns}" th:text="${row[column['COLUMN_NAME']]}">Data</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
